
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:radial-gradient(#fff8db, #fae38c);
}
.custom-heading {
    text-align: center;
    padding-top:10px;
    color:#183b56;
    font-size: 50px;
    font-family: "Roboto";
    font-weight: 700;
}
.heading1{
    visibility: hidden;
}
.player{
    width:40%;
}

.playervsplayer{
    width:60%;
    animation:updown 2s infinite;
}

@keyframes updown{
    0% ,100% {
        transform:translateX(0);
    }
    60%{
        transform:translateX(-20px);
    }
}
.context{
    display: block;
    width: 50%;
    text-align: center;
    height:40px;
    border-radius: 10px;
    background-color: #fff8db;
    margin: auto;
}

.category{
    width: 100px;
    display: flex;
    flex-direction: column;
    margin: auto;
    visibility: hidden;
    
}
.category-b{
    background-color: #fae38c;    
    border-radius: 20px;
    border: solid 1px  #fae38c;
    margin-bottom: 10px;
    visibility: hidden;
}
.category-b:hover{
    background-image:linear-gradient(#f1cd71, #b8860b);

}
.start-button{
    width: 100px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
#start-b{
    background-image:linear-gradient(#f1cd71, #b8860b);
    border:solid 1px #B8860B!important;
    border-radius: 20px !important;
    
}
#start-b:hover{
    transform: scale(1.1); 

}